h1 {
    text-align: center;
     color:black;
     font-size:45px
     
  }
  body{
    background-color: lightblue;
  }
   h2 {
    text-align: center;
     color:black;
     font-size: 30px
  }
  h3 {
    text-align: center;
     color:black;
       font-size: 30px
  
  }
  h4 {
    text-align: center;
     color:black;
       font-size: 30px
  
  }
  ul {
    text-align: center;
     color:black;
    list-style-position: inside;
    font-weight: bold;
  }
  
  p{
    color:black;
    text-align:center;
    font-weight: bold
  }
  body{
     background-image:url(images/V5VZ3o.gif)
     
  }
  
  a href #top{
    text-align: right
  }
  #navbar{ 
    display: inline;
    margin: 115px;

  }
 
